.pref_listarea {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
  margin-top: 20px;
}
@media (min-width: 768px) {
  .pref_listarea {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(min(100px, 100%), 1fr));
    margin-top: 20px;
  }
}
